about-time==4.2.1
alive-progress==3.1.5
autograd==1.6.2
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cma==3.2.2
communities==3.0.0
community==1.0.0b1
contourpy==1.1.1
cycler==0.12.1
Deprecated==1.2.14
dill==0.3.7
filelock==3.13.1
Flask==3.0.0
fonttools==4.47.0
fsspec==2023.12.2
future==0.18.3
grapheme==0.6.0
idna==3.6
igraph==0.10.8
importlib-metadata==7.0.1
importlib-resources==6.1.1
inspyred==1.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
leidenalg==0.10.1
littleutils==0.2.2
MarkupSafe==2.1.3
matplotlib==3.7.4
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
outdated==0.2.2
packaging==23.2
pandas==2.0.3
pillow==10.2.0
psutil==5.9.7
pymoo==0.6.1.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
SciencePlots==2.1.1
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.1
six==1.16.0
sympy==1.12
texttable==1.7.0
threadpoolctl==3.2.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
Werkzeug==3.0.1
wrapt==1.16.0
zipp==3.17.0
